body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-style: none;
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 12px;
  background-color: darkred;
  color: white;
}
.thumbnail-container {
  text-align: center;
}
.thumbnail {
  height: 150px;
}
.url-input {
  border-radius: 10px;
  border-style: none;
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 5px;
}
.youtube-search-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.search-button-container {
  margin-top: 1.2rem;
  text-align: center;
}
.search-button:hover {
  background-color: red;
  cursor: pointer;
}
.hidden {
  display: none;
}
