body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-style: none;
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 12px;
  background-color: darkred;
  color: white;
  position: relative;
}
button:hover {
  background-color: red;
  cursor: pointer;
}
.disabled:hover {
  background-color: dimgray;
  cursor: not-allowed;
}
.thumbnail-container {
  text-align: center;
}
.thumbnail {
  height: 250px;
}
.url-input {
  border-radius: 10px;
  border-style: none;
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 5px;
}
.youtube-search-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.1rem;
}
.search-button-container {
  margin-top: 1.1rem;
  text-align: center;
}

.loading-bar-holder {
  height: 1.2rem;
}
.loading-bar {
  background-color: red;
  width: 0%;
  height: 100%;
  border-radius: 5px;
}
.loading-bar-percentage {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 1.2rem;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner {
  padding: 1.2rem 3rem;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #000;
  border-top-color: white;
  animation: spinner .6s linear infinite;
}

.hidden {
  display: none;
}
